<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="icon" th:href="@{img/logo-1.png}" type="image/x-icon">
<style>
    .error{
        color: red;
        font-style: italic;
    }
    .success{
        color: green;
        font-style: italic;
    }
</style>
</head>
<body>


<form th:action="@{/register-new}" method="post" th:object="${adminDto}">
    <div class="loginCard">
        <button class="close">
            <svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.9579 6.23592L20.2479 4.52588L13.4683 11.3054L6.6888 4.52588L4.97876 6.23592L11.7583 13.0155L4.97876 19.795L6.6888 21.505L13.4683 14.7255L20.2479 21.505L21.9579 19.795L15.1784 13.0155L21.9579 6.23592Z" fill="#CA123E"/>
            </svg>

        </button>
        <div class="innerCard">
            <h1>Sign up</h1>
            <br>


            <div th:if="${emailError}">
                <br>
                <span class="error"  th:text="${emailError}" ></span>
                <br>
            </div>

            <div th:if="${passwordError}">
                <br>
                <span class="error"  th:text="${passwordError}" ></span>
                <br>
            </div>

            <div th:if="${succsess}">
                <br>
                <span class="success"  th:text="${succsess}" ></span>
                <br>
            </div>
            <div th:if="${errors}">
                <br>
                <span class="error"  th:text="${errors}" ></span>
                <br>
            </div>
            <input type="text" placeholder="First Name" th:field="*{firstName}">
            <div class="error" th:if="${#fields.hasErrors('firstName')}"
            th:errors="*{firstName}"></div>

            <input type="text" placeholder="Last Name" th:field="*{lastName}">
            <div class="error" th:if="${#fields.hasErrors('lastName')}"
                 th:errors="*{lastName}"></div>

            <input type="text" placeholder="Email username" th:field="*{username}">
            <div class="error" th:if="${#fields.hasErrors('username')}"
                 th:errors="*{username}"></div>

            <input type="password" placeholder="Password" th:field="*{password}">
            <div class="error" th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}"></div>

            <input type="password" placeholder="Repeat Password" th:field="*{repeatPassword}">
            <span class="extraLinks">
                <span>Already have an account? </span>
                <a th:href="@{/login}">Login</a>
            </span>
        </div>

        <div class="buttonWrapper">
            <a class="social twitter" href="">
                <svg width="40" height="30" viewBox="0 0 45 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M44.247 4.59932C42.639 5.31399 40.9211 5.79501 39.1069 6.00116C40.9486 4.88794 42.3779 3.14251 43.0376 1.05349C41.3059 2.08425 39.3955 2.82641 37.3615 3.22497C35.726 1.49328 33.4033 0.393799 30.8333 0.393799C25.061 0.393799 20.8143 5.78126 22.1199 11.3749C14.6846 11.0038 8.08774 7.44423 3.67607 2.02928C1.33966 6.04239 2.46663 11.3062 6.43852 13.9724C4.96796 13.9312 3.59361 13.5189 2.38417 12.8592C2.28797 17.0097 5.25657 20.8854 9.5583 21.7375C8.2939 22.0811 6.91954 22.1636 5.5177 21.8887C6.65842 25.4483 9.95687 28.0321 13.8738 28.1008C10.108 31.0419 5.38027 32.3613 0.625 31.8115C4.58314 34.3541 9.28343 35.8246 14.3411 35.8246C30.9433 35.8246 40.3301 21.7925 39.7666 9.21715C41.5395 7.96649 43.0513 6.39973 44.247 4.59932Z" fill="white"/>
                </svg>

            </a>
            <a class="social facebook" href="">
                <svg width="18" height="36" viewBox="0 0 21 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.88946 14.2942H0.317993V21.7555H4.88946V43.6537H13.6712V21.6559H19.7997L20.4474 14.2942H13.6712C13.6712 14.2942 13.6712 11.5414 13.6712 10.0964C13.6712 8.36501 14.0199 7.66746 15.7015 7.66746C17.0593 7.66746 20.4598 7.66746 20.4598 7.66746V0.0317383C20.4598 0.0317383 15.4524 0.0317383 14.3812 0.0317383C7.84161 0.0317383 4.90192 2.90915 4.90192 8.41484C4.88946 13.223 4.88946 14.2942 4.88946 14.2942Z" fill="white"/>
                </svg>

            </a>
            <button class="submitButton" type="submit">
                <svg width="24" height="24" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.4375 0.0546875L16.8464 3.64578L31.058 17.8828H0.0625V22.9766H31.058L16.8464 37.2136L20.4375 40.8047L40.8125 20.4297L20.4375 0.0546875Z" fill="#76440C"/>
                </svg>
            </button>
        </div>
    </div>
</form>

</body>
</html>