<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logout Example</title>
</head>
<body>
<div>
    <p>Hello, user! You are logged in.</p>
    <a th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
        Đăng Xuất
    </a>
    <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
        <input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
</div>
</body>
</html>